.add_todos{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}

.todo_container {
  overflow: scroll;
  max-height: 92%;
}

#done_card{
  height: 65vh;
}