.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.country {
  margin-top: var(--margin-top);
  font-size: var(--font-size-large);
}

.forecast {
  padding: 1rem;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.125);
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.125);
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex_row{
  flex-direction: row;
  height: 100%;
}

.high {
  padding-right: 4px;
}

.highLow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--font-size-medium);
  padding-top: 5px;
}

.loading {
  padding-bottom: 3rem;
  transform: translateY(3rem);
}

.loading::after {
  content: "";
  width: 5rem;
  height: 5rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 10px solid transparent;
  border-top-color: var(--color-orange);
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.location {
  font-size: var(--font-size-large);
  margin-top: 2rem;
}

.substring {
  font-size: var(--font-size-small);
}

.sun {
  margin-top: var(--margin-top);
}

.temperature {
  font-size: 6rem;
  margin-top: var(--margin-top);
}

.tomorrow {
  font-size: var(--font-size-x-large);
  padding-right: 2rem;
  height: 100%;
  flex-direction: column;
  border-right: var(--color-white) thick 20px;
}

.day_after_tomorrow {
  font-size: var(--font-size-x-large);
  height: 100%; 
  flex-direction: column;
}

.weather_info {
  color: var(--color-white);
  text-align: center;
  position: relative;
  flex-direction: column;
}

#weather_button{
  background-color: transparent;
  border: 3px solid var(--color-orange);
  color:var(--color-white);
  width: 50%;
  padding: 2rem;
  cursor: pointer;
}

#weather_button:hover{
  background-color: var(--color-orange);
  color: var(--color-white);
}

.weather_condition {
  font-size: 2rem;
  margin-top: var(--margin-top);
}

.valid_location {
  color: var(--color-white);
  font-size: var(--font-size-large);
  flex-direction: column;
  height: 100%;
}

.valid_location > h1 {
  font-size: var(--font-size-x-large);
  padding-bottom: 1rem;
}

@media screen and (max-width: 1020px){
  .location {
    font-size: var(--font-size-medium);
  }

  .country {
    margin-top: var(--margin-top);
    font-size: var(--font-size-medium);
  }

  .temperature {
    font-size: 5rem;
    margin-top: var(--margin-top);
  }

  .weather_condition {
    font-size: var(--font-size-small);
    margin-top: var(--margin-top);
  }

}

@media screen and (max-width: 1382px){
  #weather_button{
    width: 75%;
  }
}

@media screen and (max-width: 1128px){
  #weather_button{
    width: 65%;
  }
}

@media screen and (max-width: 840px){
  .forecast{
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 810px){
  .day {
    font-size: var(--font-size-small);
  }

  .max {
    font-size: var(--font-size-small);
  }
}

@media screen and (max-width: 660px){
  .forecast {
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tomorrow {
    padding-right: 0;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1600px){
  .location {
    font-size: var(--font-size-large);
  }

  .country {
    font-size: var(--font-size-large);
  }

  .temperature {
    font-size: 6rem;
  }

  .weather_condition {
    font-size: var(--font-size-medium);
  }

  .high {
    font-size: 2rem;
  }

  .sun {
    height: 3rem;
  }

  .icon {
    font-size: var(--font-size-large);
  }

  .forecast {
    width: 75%;
    overflow: none!important;
  }

  .day {
    font-size: var(--font-size-medium);
  }

  .weather_pic {
    height: 10rem;
  }

  .max {
    font-size: 2rem;
  }
}