.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    height: auto;
    width: 30%;
    border-radius: 3rem;
    margin: 2rem 0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .error_text{
    color: red;
    font-size: 1.5rem;
  }
  
  .header_container {
    width: 90%;
    position: relative;
    padding: 3rem 0;
  }
  
  .header {
    color: #fff;
    font-size: 4rem;
    letter-spacing: 4px;
    padding-bottom: 1.3rem;
    text-align: center;
    text-transform: uppercase;
  }
  
  .user_pic{
    width: 40%;
  }
  
  .error__msg{
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .user_pic_div{
    margin: 3rem 0;
  }
  
  input{
    width: 90%;
    height:4rem;
    line-height: 4rem;
    position: relative;
    font-size: 2rem;
    padding-left: 2rem;
    background-color: rgba(255, 255, 255, 0.125);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
  }
  
  input::placeholder{
    font-size: 2rem;
    line-height: 4rem;
  }
  
  .input_error{
    border:solid 1px red;
  }
  
  .input_success{
    border:solid 1px lightgreen;
  }
  
  .user_login_form input{
    margin-bottom: 2.5rem;
  }
  
  #disabled{
    background-color: #f1a448;
    cursor: not-allowed;
  }
  
  #guest_btn {
    background-color: transparent;
    border-color: #fb8f0d;
  }
  
  #guest_btn:hover{
    background-color: #fb8f0d;
    cursor: pointer;
  }
  
  .btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .btn_container > a {
    width: 100%;
  }
  
  span {
    color: #fff;
    font-size: 1.2rem;
  }
  
  a {
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    text-decoration: 1px solid underline;
  }
  
  .or h6{
    font-size: 1.5rem;
    color: #fff;
    padding: 0 1rem;
  }
  
  .or{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  
  .line{
    width: 100%;
  }
  
  /* .form_input{
    background:url('../../assets/circle-check-solid.svg') no-repeat scroll;
    padding-left: 20px;
  } */
  