.user_pic{
  width: 40%;
}

.error__msg{
  width: 90%;
  margin-top: 5px;
  display: inline-block;
  text-align: left;
  color: var(--color-red);
  font-size: var(--font-size-input);
  font-weight: bold;
}

input{
  width: 90%;
  height:4rem;
  line-height: 4rem;
  position: relative;
  padding-left: 3.6rem;
  background-color: rgba(255, 255, 255, 0.125);
  color: var(--color-off-white);;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 10px;
}

input::placeholder{
  font-size: var(--font-size-input);
  color: var(--color-off-white);
  line-height: 4rem;
}

.input_wrapper {
  position: relative;
}

.input_icon {
  position: absolute;
  top: 50%;
  right: 87.5%;
  transform: translateY(-50%);
  width: 2rem;
}

.lock_icon {
  position: absolute;
  top: 68%;
  right: 87.5%;
  transform: translateY(-50%);
  width: 2rem;
}

#password{
  margin: 2.4rem 0 0 0;
}

.input_error{
  border:solid 1px red;
}

.input_success{
  border:solid 1px var(--color-green);
}

#disabled{
  background-color: #f1a448;
  cursor: not-allowed;
  width: 90%;
  margin: 2.4rem 0 1.2rem 0;
}

#guest_btn {
  background-color: transparent;
  border-color: var(--color-orange);
  width: 90%;
  margin: 1.2rem 0;
}

#guest_btn:hover{
  background-color: var(--color-orange);
  cursor: pointer;
  margin-top: 1.2rem 0;
}

#login_btn{
  background-color: var(--color-orange);
  width: 90%;
  margin: 2.4rem 0 1.2rem 0;
}

.btn_container{
  flex-direction: column;
}

.flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: var(--color-white);
  font-size: var(--font-size-x-small);
}

.or h6{
  font-size: var(--font-size-small);
  color: var(--color-white);
  padding: 0 1rem;
}

.or{
  width: 90%;
}

.line{
  width: 100%;
}

@media screen and (max-width: 550px){
  .input_icon{
    right: 85.5%;
  }

  .lock_icon {
    right: 85.5%;
  }
}

@media screen and (max-width: 450px){
  .input_icon{
    right: 83.5%;
  }

  .lock_icon {
    right: 83.5%;
  }
}

@media screen and (max-width: 385px){
  .input_icon{
    right: 81.5%;
  }

  .lock_icon {
    right: 81.5%;
  }
}