.header {
    color: var(--color-white);
    font-size: 4rem;
    letter-spacing: 4px;
    padding-bottom: 1.3rem;
    text-align: center;
    text-transform: uppercase;
  }

@media screen and (min-width: 1600px){
    .header {
        font-size: 4.4rem;
    }
}

@media screen and (max-width: 882px) {
    .header {
        font-size: var(--font-size-x-large);
    }
}

@media screen and (max-width: 405px) {
    .header {
        font-size: var(--font-size-large);
    }
}

@media screen and (max-width: 347px) {
    .header {
        font-size: var(--font-size-medium);
    }
}