.user__card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  height: auto;
  width: 44rem;
  border-radius: 3rem;
  margin: 2rem 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header_container {
  width: 90%;
  position: relative;
  padding: 3rem 0;
}

@media screen and (max-width: 550px){
  .user__card{
    width: 34rem;
  }
}

@media screen and (max-width: 450px){
  .user__card{
    width: 29rem;
  }
} 

@media screen and (max-width: 385px){
  .user__card{
    width: 24rem;
  }
} 