.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    transform: translateY(2rem);
    padding: 0 4rem;
    
  }
  
  .card_holder {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }
  
  .hidden {
    opacity: 0;
  }
  
  .daily {
    color: #fff;
    font-size: 4rem;
  }
  
  .date {
    color: #fff;
    font-size: 2rem;
    transform: translateY(-4px);
  }
  
  .heading {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 1rem;
    padding-bottom: 5px;
  }
  
  .line {
    width: 100%;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .overlay {
    background-color: rgba(0,0,0,0.3);
    min-height: 100vh;
    z-index: 1;
  } */
  
  @media screen and (max-width: 840px){
  
    .card_holder{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .container {
      transform: translateY(5px);
    }
  
    .heading {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 !important;
    }
    
  }
  
  @media screen and (max-width: 840px) {
    .date {
      padding-top: 1rem;
    }
  }
  
  @media screen and (min-width: 1800px) {
    .daily {
      font-size: 6.5rem;
    }
  
    .date {
      font-size: 3.25rem;
    }
  }