.btn {
  font-family: inherit;
  cursor: pointer;
  padding: .9rem 2rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn__submit {
  background: var(--color-orange);
  color: var(--color-white);
  border-radius: 0.6rem;
}

@media screen and (min-width: 450px){
  .btn {
    font-size: var(--font-size-small);
  }
}