.toDo {
  width: 100%;
  padding: 1.2rem;
  backdrop-filter: blur(16px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  background-color: rgba(255, 255, 255, 0.125);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.125);
  text-align: left;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.btn__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn__complete {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn__trash {
  margin-left: 8px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 2.4rem;
  cursor: pointer;
}

.task {
  font-size: 1.6rem;
}

@media screen and (min-width: 1600px){
  .toDo{
    height: 5rem;
    overflow: none!important;
  }

  .task {
    font-size: 2rem;
  }
}