.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    transform: translateY(2rem);
    padding: 0 4rem;
  }
  
  .card_holder {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }
  
  @media screen and (max-width: 840px){
  
    .card_holder{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .container {
      transform: translateY(5px);
    }
  
    .heading {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 !important;
    }
    
  }
  
  @media screen and (max-width: 840px) {
    .date {
      padding-top: 1rem;
    }
  }
  
  @media screen and (min-width: 1800px) {
    .daily {
      font-size: 6.5rem;
    }
  
    .date {
      font-size: 3.25rem;
    }
  }