.form__input {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 1rem;
    position: relative;
}

.form__input > label {
  font-weight: bolder;
  color: #fff;
  font-size: 3.25rem;
}

.form__input > input {
  height: 3.1rem;
  border-radius: 4px;
  width: auto;
  font-size: 1.5rem;
  -webkit-box-shadow: 5px 4px 8px -1px #000000;
  box-shadow: 5px 4px 8px -1px #000000;
  padding-left: 1rem;
}

.header {
  color: #fff;
  font-size: 4rem;
  letter-spacing: 4px;
  padding: 1.3rem 0;
  text-align: center;
}

.header_container {
  width: 90%;
  position: relative;
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  height: 85vh;
  width: 45%;
  border-radius: 3rem;
  margin: 2rem 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

/* Max Height Media Query */
@media screen and (max-height: 450px){
  .card {
    height: auto;
  }
}

@media screen and (max-width: 550px){
  .card {
    width: 80%;
  }
}

@media screen and (max-width: 400px){
  .card {
    width: 90%;
  }
}

@media screen and (max-width: 340px){
  .card {
    width: 100%;
  }
}


@media screen and (max-width: 840px){
  .form__input {
    flex-direction: column;
  }
}

@media screen and (min-width: 1800px){
  .header {
    font-size: 6rem;
  }

  .form__input > input{
    height: 3.7rem;
  }
}
