.logout__btn{
    font-size: var(--font-size-small);
    background-color: transparent;
    color: var(--color-white);
    border: none;
    font-family: "M PLUS 1 Code", sans-serif;
    cursor: pointer;
    text-decoration: underline;
}