.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  height: 85vh;
  width: 45%;
  border-radius: 3rem;
  margin: 2rem 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.task_holder {
  position: relative;
}

/* Max Height Media Query */
@media screen and (max-height: 450px){
  .card {
    height: auto;
  }
}

@media screen and (max-width: 550px){
  .card {
    width: 80%;
  }
}

@media screen and (max-width: 400px){
  .card {
    width: 90%;
  }
}

@media screen and (max-width: 340px){
  .card {
    width: 100%;
  }
}
