.logout__btn{
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    border: none;
    font-family: "M PLUS 1 Code", sans-serif;
    cursor: pointer;
    text-decoration: underline;
}