.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);

  border: 1px solid rgba(255, 255, 255, 0.125);
  height: 85vh;

  width: 30%;
  border-radius: 3rem;
  margin: 2rem 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header_container {
  width: 90%;
  position: relative;
}

.header {
  color: #fff;
  font-size: 4rem;
  letter-spacing: 4px;
  padding: 1.3rem 0;
  text-align: center;
}
